

/ {
    headphone_amp: audio-amplifier-headphone {
        compatible = "simple-audio-amplifier";
        enable-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
        sound-name-prefix = "Headphones Amp";
    };

    speaker_amp: audio-amplifier-speaker {
        compatible = "simple-audio-amplifier";
        enable-gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
        sound-name-prefix = "Speaker Amp";
    };

    sound {
        compatible = "simple-audio-card";
        pinctrl-names = "default";
        pinctrl-0 = <&hp_det>;
        simple-audio-card,name = "Analog";
        simple-audio-card,aux-devs = <&speaker_amp>, <&headphone_amp>;
        simple-audio-card,format = "i2s";
        simple-audio-card,mclk-fs = <384>;
        simple-audio-card,hp-det-gpio = <&gpio1 RK_PC4 GPIO_ACTIVE_LOW>;
        simple-audio-card,bitclock-master = <&daicpu>;
        simple-audio-card,frame-master = <&daicpu>;

        simple-audio-card,widgets =
                "Microphone", "Onboard Microphone",
                "Microphone", "Microphone Jack",
                "Speaker", "Speaker",
                "Headphone", "Headphones";

        simple-audio-card,routing =
                "Headphones", "LOUT1",
                "Headphones", "ROUT1",
                "Speaker", "LOUT2",
                "Speaker", "ROUT2",

                "Headphones", "Headphones Amp OUTL",
                "Headphones", "Headphones Amp OUTR",
                "Headphones Amp INL", "LOUT1",
                "Headphones Amp INR", "ROUT1",

                "Speaker", "Speaker Amp OUTL",
                "Speaker", "Speaker Amp OUTR",
                "Speaker Amp INL", "LOUT2",
                "Speaker Amp INR", "ROUT2",

                "LINPUT1", "Microphone Jack",
                "RINPUT1", "Microphone Jack",

                "LINPUT2", "Onboard Microphone",
                "RINPUT2", "Onboard Microphone";

        daicpu: simple-audio-card,cpu {
            sound-dai = <&i2s0_8ch>;
            system-clock-frequency = <12288000>;
        };

        daicodec: simple-audio-card,codec {
            sound-dai = <&es8388>;
            system-clock-frequency = <12288000>;
        };
    };

};

&i2s0_8ch {
    status = "okay";
};

&i2c3 {
    status = "okay";
    es8388: audio-codec@11 {
        compatible = "everest,es8388";
        status = "okay";
        reg = <0x11>;
        #sound-dai-cells = <0>;
        clocks = <&cru I2S0_8CH_MCLKOUT>;
        clock-names = "mclk";
        DVDD-supply = <&avcc_1v8_codec_s0>;
        AVDD-supply = <&avcc_1v8_codec_s0>;
        PVDD-supply = <&vcc_3v3_s3>;
        HPVDD-supply = <&vcc_3v3_s3>;
        pinctrl-names = "default";
        pinctrl-0 = <&i2s0_mclk>;
    };

};
