// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Collabora Ltd.
 */

#include "rk3588-u-boot.dtsi"
#include "rk3588-firefly-itx-3588j-i2c0.dtsi"
#include "rk3588-firefly-itx-3588j-i2c3.dtsi"
#include "rk3588-firefly-itx-3588j-i2c6.dtsi"

/ {
    aliases {
        mmc0 = &sdhci;
        mmc1 = &sdmmc;
    };

    chosen {
        u-boot,spl-boot-order = &sdhci;
    };

    firmware: firmware {
        scmi: scmi {
            compatible = "arm,scmi-smc";
            shmem = <&scmi_shmem>;
            arm,smc-id = <0x82000010>;
            #address-cells = <1>;
            #size-cells = <0>;

            scmi_clk: protocol@14 {
                reg = <0x14>;
                #clock-cells = <1>;

                assigned-clocks = <&scmi_clk SCMI_CLK_CPUL>,
                                  <&scmi_clk SCMI_CLK_CPUB01>,
                                  <&scmi_clk SCMI_CLK_CPUB23>;
                assigned-clock-rates = <816000000>,
                                       <816000000>,
                                       <816000000>;
            };

            scmi_reset: protocol@16 {
                reg = <0x16>;
                #reset-cells = <1>;
            };
        };

        sdei: sdei {
            compatible = "arm,sdei-1.0";
            method = "smc";
        };
    };

    secure-otp@fe3a0000 {
        bootph-pre-ram;
        compatible = "rockchip,rk3588-secure-otp";
        reg = <0x0 0xfe3a0000 0x0 0x4000>;
    };

};


&firmware {
    bootph-pre-ram;
};

&gpio0 {
    bootph-pre-ram;
    status = "okay";
};

&gpio1 {
    bootph-all;
    status = "okay";
};

&gpio2 {
    bootph-all;
    status = "okay";
};

&gpio3 {
    bootph-all;
    status = "okay";
};

&gpio4 {
    bootph-all;
    status = "okay";
};

&scmi {
    bootph-pre-ram;
};

&scmi_clk {
    bootph-pre-ram;
};

&pmu_sram {
    bootph-pre-ram;
};

&scmi_shmem {
    bootph-pre-ram;
};

&xin24m {
    bootph-all;
    status = "okay";
};

&cru {
    bootph-pre-ram;
    status = "okay";
};

&psci {
    bootph-all;
    status = "okay";
};

// This was used in the BSP 2017 U-Boot. It offers accelerated
// crypto performed in hardware, but the driver model DM_CRYPTO does
// not exist anymore. Disabling it until someone(tm) can perform
// the adaption to the new DM_HASH etc. models.
/*&crypto {
    bootph-pre-ram;
    status = "okay";
}; */

&sys_grf {
    bootph-pre-ram;
    status = "okay";
};

&pcie30_phy_grf {
    bootph-all;
    status = "okay";
};

&php_grf {
    bootph-all;
    status = "okay";
};

&pipe_phy0_grf {
    bootph-all;
    status = "okay";
};

&pipe_phy1_grf {
    bootph-all;
    status = "okay";
};

&pipe_phy2_grf {
    bootph-all;
    status = "okay";
};

&uart2 {
    bootph-pre-ram;
    status = "okay";
};

// This was used in the BSP 2017 U-Boot. It offers accelerated
// decompression, but was implemented as a non-standard DM_MISC driver
// plus some possible non-upstreamable patches to the U-Boot core.
// Disabling it until someone(tm) can adapt it.
/*&hw_decompress {
    bootph-pre-ram;
    status = "okay";
};*/

&rng {
    bootph-all;
    status = "okay";
};

&sfc {
    bootph-pre-ram;
    u-boot,spl-sfc-no-dma;
};

&saradc {
    bootph-all;
    status = "okay";
};

&sdmmc {
    status = "okay";
};

&sdhci {
    bootph-pre-ram;
    status = "okay";
    /delete-property/ mmc-hs200-1_8v;
    mmc-hs400-1_8v;
    mmc-hs400-enhanced-strobe;
    /delete-property/ cap-mmc-highspeed;
};

&usb2phy0_grf {
    bootph-all;
};

&u2phy0 {
    bootph-all;
    status = "okay";
};

&u2phy0_otg {
    bootph-all;
};

&u2phy1 {
    status = "okay";
};

&u2phy1_otg {
    status = "okay";
};



/* Support SPL-PINCTRL:
 * 1. ioc
 * 2. pinctrl(sdmmc)
 * 3. gpio if need
 */
&ioc {
    bootph-pre-ram;
};

&pinctrl {
    bootph-all;

    sdmmc {
        bootph-all;
        sdmmc_bus4: sdmmc-bus4 {
            bootph-all;
        };

        sdmmc_clk: sdmmc-clk {
            bootph-all;
        };

        sdmmc_cmd: sdmmc-cmd {
            bootph-all;
        };

        sdmmc_det: sdmmc-det {
            bootph-all;
        };

        sdmmc_pwren: sdmmc-pwren {
            bootph-all;
        };
    };


};

&pcfg_pull_up_drv_level_2 {
    bootph-pre-ram;
};

&pcfg_pull_up {
    bootph-pre-ram;
};

&pcfg_pull_none
{
    bootph-pre-ram;
};


&usbdp_phy1 {
    status = "okay";
};

&usbdp_phy1_u3 {
    status = "okay";
};

&usbdp_phy0 {
    orientation-switch;
    mode-switch;
    sbu1-dc-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
    sbu2-dc-gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
    status = "okay";

    port {
        #address-cells = <1>;
        #size-cells = <0>;

        usbdp_phy0_typec_ss: endpoint@0 {
            reg = <0>;
            remote-endpoint = <&usbc0_ss>;
        };

        usbdp_phy0_typec_sbu: endpoint@1 {
            reg = <1>;
            remote-endpoint = <&usbc0_sbu>;
        };
    };
};

&usb_host0_xhci {
    usb-role-switch;
    dr_mode = "host";
    status = "okay";

    port {
        #address-cells = <1>;
        #size-cells = <0>;

        usb_host0_xhci_drd_sw: endpoint {
            remote-endpoint = <&usbc0_hs>;
        };
    };
};

&usb_host1_xhci {
    status = "okay";
};

&usbc0 {
    status = "okay";
    interrupt-parent = <&gpio0>;
    interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
};
